/* AuthLogin.css */
.custom-phone-input {
  /* Add your custom styles here */
  border: 0;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  font-family: 'Varela Round';
  outline: none !important;
  box-shadow: none !important;
}
